XBG3S6_XMLTask/1.feladat/XBG3S6_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!--saját típusok-->

    <!--stringek -->
    <xs:element name="nev" type="xs:string"/>
    <xs:element name="varos" type="xs:string"/>
    <xs:element name="utca" type="xs:string"/>
    <xs:element name="iranyitoszam" type="xs:integer"/>
    <xs:element name="hazszam" type="xs:integer"/>
    <xs:element name="email" type="xs:string"/>
    <xs:element name="weboldal" type="xs:string"/>
    <xs:element name="nyitvatartas" type="xs:string"/>
    <xs:element name="bank" type="xs:string"/>
    <xs:element name="termek" type="xs:string"/>
    <xs:element name="hozzavallalok" type="xs:string"/>
    <xs:element name="megjegyzes" type="xs:string"/>
    <xs:element name="mennyiseg" type="xs:integer"/>
    <xs:element name="ar" type="xs:integer"/>
    <xs:element name="osszeg" type="xs:integer"/>
    <xs:element name="szallitasi_koltseg" type="xs:integer"/>

    <!--dátum-->
    <xs:element name="datum" type="xs:date"/>
    <xs:element name="lejarat" type="xs:gYearMonth"/>

    <!--szállítási mód-->
    <xs:element name="mod" type="xs:string"/>

    <!-- saját típus(egyszerű)-telefonszám (11 számjegy) -->
    <xs:simpleType name="TelefonszamTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="telefonszam" type="TelefonszamTipus"/>


    <!--Összetett típusok-->

    <!-- Beszállító: név, cím, telefon(ok) -->
    <xs:complexType name="beszallitoTipus">
        <xs:sequence>
            <xs:element ref="nev"/>
            <xs:element name="cim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="varos"/>
                        <xs:element ref="iranyitoszam"/>
                        <xs:element ref="utca"/>
                        <xs:element ref="hazszam"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="telefonszam" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="BeszallitoID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Cukrászda: név, nyitvatartás, elérhetőség (weboldal + telefonszám) -->
    <xs:complexType name="cukraszdaTipus">
        <xs:sequence>
            <xs:element ref="nev"/>
            <xs:element ref="nyitvatartas"/>
            <xs:element name="elerhetoseg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="weboldal"/>
                        <xs:element ref="telefonszam"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="CukraszdaID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Futár: név + telefonszám -->
    <xs:complexType name="futarTipus">
        <xs:sequence>
            <xs:element ref="nev"/>
            <xs:element ref="telefonszam"/>
        </xs:sequence>
        <xs:attribute name="FutarID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Vevő: név, cím, 1..n telefonszám, email -->
    <xs:complexType name="vevoTipus">
        <xs:sequence>
            <xs:element ref="nev"/>
            <xs:element name="cim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="varos"/>
                        <xs:element ref="iranyitoszam"/>
                        <xs:element ref="utca"/>
                        <xs:element ref="hazszam"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="telefonszam" maxOccurs="unbounded"/>
            <xs:element ref="email"/>
        </xs:sequence>
        <xs:attribute name="VevoID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Bankkártya: lejárat, bank; Kartyaszam + VevoID -->
    <xs:complexType name="bankkartyaTipus">
        <xs:sequence>
            <xs:element ref="lejarat"/>
            <xs:element ref="bank"/>
        </xs:sequence>
        <xs:attribute name="Kartyaszam" type="xs:string" use="required"/>
        <xs:attribute name="VevoID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Sütemény: termék, mennyiség, ár; FK: RendelesID, CukraszdaID -->
    <xs:complexType name="sutemenyTipus">
        <xs:sequence>
            <xs:element ref="termek"/>
            <xs:element ref="mennyiseg"/>
            <xs:element ref="ar"/>
        </xs:sequence>
        <xs:attribute name="RendelesID" type="xs:string" use="required"/>
        <xs:attribute name="CukraszdaID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Beszállítás: dátum, hozzávalók; FK: BeszallitoID, CukraszdaID -->
    <xs:complexType name="beszallitasTipus">
        <xs:sequence>
            <xs:element ref="datum"/>
            <xs:element ref="hozzavallalok"/>
        </xs:sequence>
        <xs:attribute name="BeszallitasID" type="xs:string" use="required"/>
        <xs:attribute name="BeszallitoID" type="xs:string" use="required"/>
        <xs:attribute name="CukraszdaID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Rendelés tétel: dátum; FK: VevoID, RendelesID -->
    <xs:complexType name="rendelesTipus">
        <xs:sequence>
            <xs:element ref="datum"/>
        </xs:sequence>
        <xs:attribute name="RendelesTetelID" type="xs:string" use="required"/>
        <xs:attribute name="VevoID" type="xs:string" use="required"/>
        <xs:attribute name="RendelesID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Szállítás: mód, költség, megjegyzés; FK: RendelesID, FutarID, CukraszdaID -->
    <xs:complexType name="szallitasTipus">
        <xs:sequence>
            <xs:element ref="mod"/>
            <xs:element ref="szallitasi_koltseg"/>
            <xs:element ref="megjegyzes"/>
        </xs:sequence>
        <xs:attribute name="SzallitasID" type="xs:string" use="required"/>
        <xs:attribute name="RendelesID" type="xs:string" use="required"/>
        <xs:attribute name="FutarID" type="xs:string" use="required"/>
        <xs:attribute name="CukraszdaID" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Fizetés: összeg, dátum; FK: VevoID, Kartyaszam, RendelesID -->
    <xs:complexType name="fizetesTipus">
        <xs:sequence>
            <xs:element ref="osszeg"/>
            <xs:element ref="datum"/>
        </xs:sequence>
        <xs:attribute name="FizetesID" type="xs:string" use="required"/>
        <xs:attribute name="VevoID" type="xs:string" use="required"/>
        <xs:attribute name="Kartyaszam" type="xs:string" use="required"/>
        <xs:attribute name="RendelesID" type="xs:string" use="required"/>
    </xs:complexType>


    <!--Gyökérelemek-->

    <xs:element name="XBG3S6_Cukraszda">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="beszallito"  type="beszallitoTipus"  maxOccurs="unbounded"/>
                <xs:element name="cukraszda"   type="cukraszdaTipus"   maxOccurs="unbounded"/>
                <xs:element name="futar"       type="futarTipus"       maxOccurs="unbounded"/>
                <xs:element name="vevo"        type="vevoTipus"        maxOccurs="unbounded"/>
                <xs:element name="bankkartya"  type="bankkartyaTipus"  maxOccurs="unbounded"/>
                <xs:element name="sutemeny"    type="sutemenyTipus"    maxOccurs="unbounded"/>
                <xs:element name="beszallitas" type="beszallitasTipus" maxOccurs="unbounded"/>
                <xs:element name="rendeles"    type="rendelesTipus"    maxOccurs="unbounded"/>
                <xs:element name="szallitas"   type="szallitasTipus"   maxOccurs="unbounded"/>
                <xs:element name="fizetes"     type="fizetesTipus"     maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <!--Elsődleges kulcsok (PK)-->

        <xs:key name="beszallitoPK">
            <xs:selector xpath="beszallito"/>
            <xs:field xpath="@BeszallitoID"/>
        </xs:key>

        <xs:key name="cukraszdaPK">
            <xs:selector xpath="cukraszda"/>
            <xs:field xpath="@CukraszdaID"/>
        </xs:key>

        <xs:key name="futarPK">
            <xs:selector xpath="futar"/>
            <xs:field xpath="@FutarID"/>
        </xs:key>

        <xs:key name="vevoPK">
            <xs:selector xpath="vevo"/>
            <xs:field xpath="@VevoID"/>
        </xs:key>

        <xs:key name="bankkartyaPK">
            <xs:selector xpath="bankkartya"/>
            <xs:field xpath="@Kartyaszam"/>
        </xs:key>

        <!-- azonositok rendelesnel -->
        <xs:key name="rendelesAzonositoPK">
            <xs:selector xpath="sutemeny"/>
            <xs:field xpath="@RendelesID"/>
        </xs:key>

        <xs:key name="beszallitasPK">
            <xs:selector xpath="beszallitas"/>
            <xs:field xpath="@BeszallitasID"/>
        </xs:key>

        <xs:key name="rendelesTetelPK">
            <xs:selector xpath="rendeles"/>
            <xs:field xpath="@RendelesTetelID"/>
        </xs:key>

        <xs:key name="szallitasPK">
            <xs:selector xpath="szallitas"/>
            <xs:field xpath="@SzallitasID"/>
        </xs:key>

        <xs:key name="fizetesPK">
            <xs:selector xpath="fizetes"/>
            <xs:field xpath="@FizetesID"/>
        </xs:key>


        <!-- Idegen kulcsok (FK) -->

        <!-- beszállítás-beszállító -->
        <xs:keyref name="beszallitasBeszallitoFK" refer="beszallitoPK">
            <xs:selector xpath="beszallitas"/>
            <xs:field xpath="@BeszallitoID"/>
        </xs:keyref>

        <!-- beszállítás-cukrászda -->
        <xs:keyref name="beszallitasCukraszdaFK" refer="cukraszdaPK">
            <xs:selector xpath="beszallitas"/>
            <xs:field xpath="@CukraszdaID"/>
        </xs:keyref>

        <!-- rendelés tétel-vevő -->
        <xs:keyref name="rendelesVevoFK" refer="vevoPK">
            <xs:selector xpath="rendeles"/>
            <xs:field xpath="@VevoID"/>
        </xs:keyref>

        <!-- rendelés tétel-rendelés azonosító (sütemény RendelesID) -->
        <xs:keyref name="rendelesSutemenyFK" refer="rendelesAzonositoPK">
            <xs:selector xpath="rendeles"/>
            <xs:field xpath="@RendelesID"/>
        </xs:keyref>

        <!-- sütemény-cukrászda -->
        <xs:keyref name="sutemenyCukraszdaFK" refer="cukraszdaPK">
            <xs:selector xpath="sutemeny"/>
            <xs:field xpath="@CukraszdaID"/>
        </xs:keyref>

        <!-- szállítás-rendelés -->
        <xs:keyref name="szallitasRendelesFK" refer="rendelesAzonositoPK">
            <xs:selector xpath="szallitas"/>
            <xs:field xpath="@RendelesID"/>
        </xs:keyref>

        <!-- szállítás-cukrászda -->
        <xs:keyref name="szallitasCukraszdaFK" refer="cukraszdaPK">
            <xs:selector xpath="szallitas"/>
            <xs:field xpath="@CukraszdaID"/>
        </xs:keyref>

        <!-- szállítás-futár -->
        <xs:keyref name="szallitasFutarFK" refer="futarPK">
            <xs:selector xpath="szallitas"/>
            <xs:field xpath="@FutarID"/>
        </xs:keyref>

        <!-- fizetés-vevő -->
        <xs:keyref name="fizetesVevoFK" refer="vevoPK">
            <xs:selector xpath="fizetes"/>
            <xs:field xpath="@VevoID"/>
        </xs:keyref>

        <!-- fizetés-bankkártya -->
        <xs:keyref name="fizetesKartyaFK" refer="bankkartyaPK">
            <xs:selector xpath="fizetes"/>
            <xs:field xpath="@Kartyaszam"/>
        </xs:keyref>

        <!-- 1:1 kapcsolat -->
        <!-- egy vevőhöz legfeljebb egy bankkártya tartozhat -->
        <xs:unique name="vevoBankkartyaUnique">
            <xs:selector xpath="bankkartya"/>
            <xs:field xpath="@VevoID"/>
        </xs:unique>
    </xs:element>
</xs:schema>
